@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Manrope:wght@300&family=Montserrat:wght@500;600&display=swap');



.formControl{
     width: 30%;
     margin-bottom: 30px !important;
    

 }
 @media screen and (min-width:768px){

    .formControl{
        
        margin-top: 50px !important;
    }
    h5{
        margin-top: 4px;
    }
    
}
