body{
    background-color: rgb(255, 255, 255);
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image{
    width: 370px;
    margin-top: 50px;
    margin-bottom: 6%;
}


@media screen and (max-width:768px){
    
    .image{
        width: 75%;
    }
    
}

@media screen and (min-width:768px){
    
    .image{
        margin-bottom: 10%;
    }
    
}


