@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Manrope:wght@300&family=Montserrat:wght@500;600&display=swap');

li{
    list-style: none;
    margin-bottom: 7px;
}
a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-size: 16px;

}

.footerarea{
    color: #fff;
    padding-top: 120px;
    background-color: #151D41;
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
.content{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 768px){
.content{
    flex-direction: column;
}
}

.col1{
    flex: 0 0 30%;
}
.col2{
    flex: 0 0 15%;
}
.col3{flex: 0 0 15%;}

.col4{
    flex: 0 0 30%;
}

.footersep{
    
    height: 1px;
    background: rgba(108, 112, 131, 0.6);
    margin: 50px 0;
}

.copyright{
    padding-bottom: 50px;

}

.logo{
    width: 300px;
}

p{
    font-family: 'Manrope', sans-serif;

    font-size: 16px;
    line-height: 26px;
}

.heading{
    
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.share img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }

 
     